<h1>Events in Angular!</h1>

<div class="box">
    <div class="inner-box">
<button class="btn" name="Login" (click)="handleButtonClick($event)">Login</button>
<h2>{{buttonClickEvent?buttonClickEvent:'ClickMe'}}</h2>
</div>
</div>

<br>


<div class="box">
<div>
    <div (mouseenter)="handleEnter($event)" (mouseleave)="handleLeave($event)" class="area">
        {{enter?enter:'Enter Area'}}
    </div>
</div>
</div>

<br>

<div class="box">
    <div>
<input type="text" name="user" 
(input)="handleInput($event)" (focus)="handleFocus($event)" (blur)="handleFocus($event)">
<h2 style="min-height: 1.2em;">{{input}}</h2>
<h3 style="min-height: 1em;">{{focus}}</h3>
</div>
</div>